._Ac {
	background: url('../images/CardDeck2.png') no-repeat 0 0;
	width: 67px;
	height: 95px;
}
._Kc {
	background: url('../images/CardDeck2.png') no-repeat -68px 0;
	width: 67px;
	height: 95px;
}
._Qc {
	background: url('../images/CardDeck2.png') no-repeat -136px 0;
	width: 67px;
	height: 95px;
}
._Jc {
	background: url('../images/CardDeck2.png') no-repeat -204px 0;
	width: 67px;
	height: 95px;
}
._Tc {
	background: url('../images/CardDeck2.png') no-repeat -272px 0;
	width: 67px;
	height: 95px;
}
._9c {
	background: url('../images/CardDeck2.png') no-repeat -340px 0;
	width: 67px;
	height: 95px;
}
._8c {
	background: url('../images/CardDeck2.png') no-repeat -408px 0;
	width: 67px;
	height: 95px;
}
._7c {
	background: url('../images/CardDeck2.png') no-repeat -476px 0;
	width: 67px;
	height: 95px;
}
._6c {
	background: url('../images/CardDeck2.png') no-repeat -544px 0;
	width: 67px;
	height: 95px;
}
._5c {
	background: url('../images/CardDeck2.png') no-repeat -612px 0;
	width: 67px;
	height: 95px;
}
._4c {
	background: url('../images/CardDeck2.png') no-repeat -680px 0;
	width: 67px;
	height: 95px;
}
._3c {
	background: url('../images/CardDeck2.png') no-repeat 0 -96px;
	width: 67px;
	height: 95px;
}
._2c {
	background: url('../images/CardDeck2.png') no-repeat -68px -96px;
	width: 67px;
	height: 95px;
}
._As {
	background: url('../images/CardDeck2.png') no-repeat -136px -96px;
	width: 67px;
	height: 95px;
}
._Ks {
	background: url('../images/CardDeck2.png') no-repeat -204px -96px;
	width: 67px;
	height: 95px;
}
._Qs {
	background: url('../images/CardDeck2.png') no-repeat -272px -96px;
	width: 67px;
	height: 95px;
}
._Js {
	background: url('../images/CardDeck2.png') no-repeat -340px -96px;
	width: 67px;
	height: 95px;
}
._Ts {
	background: url('../images/CardDeck2.png') no-repeat -408px -96px;
	width: 67px;
	height: 95px;
}
._9s {
	background: url('../images/CardDeck2.png') no-repeat -476px -96px;
	width: 67px;
	height: 95px;
}
._8s {
	background: url('../images/CardDeck2.png') no-repeat -544px -96px;
	width: 67px;
	height: 95px;
}
._7s {
	background: url('../images/CardDeck2.png') no-repeat -612px -96px;
	width: 67px;
	height: 95px;
}
._6s {
	background: url('../images/CardDeck2.png') no-repeat -680px -96px;
	width: 67px;
	height: 95px;
}
._5s {
	background: url('../images/CardDeck2.png') no-repeat 0 -192px;
	width: 67px;
	height: 95px;
}
._4s {
	background: url('../images/CardDeck2.png') no-repeat -68px -192px;
	width: 67px;
	height: 95px;
}
._3s {
	background: url('../images/CardDeck2.png') no-repeat -136px -192px;
	width: 67px;
	height: 95px;
}
._2s {
	background: url('../images/CardDeck2.png') no-repeat -204px -192px;
	width: 67px;
	height: 95px;
}
._Ad {
	background: url('../images/CardDeck2.png') no-repeat -272px -192px;
	width: 67px;
	height: 95px;
}
._Kd {
	background: url('../images/CardDeck2.png') no-repeat -340px -192px;
	width: 67px;
	height: 95px;
}
._Qd {
	background: url('../images/CardDeck2.png') no-repeat -408px -192px;
	width: 67px;
	height: 95px;
}
._Jd {
	background: url('../images/CardDeck2.png') no-repeat -476px -192px;
	width: 67px;
	height: 95px;
}
._Td {
	background: url('../images/CardDeck2.png') no-repeat -544px -192px;
	width: 67px;
	height: 95px;
}
._9d {
	background: url('../images/CardDeck2.png') no-repeat -612px -192px;
	width: 67px;
	height: 95px;
}
._8d {
	background: url('../images/CardDeck2.png') no-repeat -680px -192px;
	width: 67px;
	height: 95px;
}
._7d {
	background: url('../images/CardDeck2.png') no-repeat 0 -288px;
	width: 67px;
	height: 95px;
}
._6d {
	background: url('../images/CardDeck2.png') no-repeat -68px -288px;
	width: 67px;
	height: 95px;
}
._5d {
	background: url('../images/CardDeck2.png') no-repeat -136px -288px;
	width: 67px;
	height: 95px;
}
._4d {
	background: url('../images/CardDeck2.png') no-repeat -204px -288px;
	width: 67px;
	height: 95px;
}
._3d {
	background: url('../images/CardDeck2.png') no-repeat -272px -288px;
	width: 67px;
	height: 95px;
}
._2d {
	background: url('../images/CardDeck2.png') no-repeat -340px -288px;
	width: 67px;
	height: 95px;
}
._Ah {
	background: url('../images/CardDeck2.png') no-repeat -408px -288px;
	width: 67px;
	height: 95px;
}
._Kh {
	background: url('../images/CardDeck2.png') no-repeat -476px -288px;
	width: 67px;
	height: 95px;
}
._Qh {
	background: url('../images/CardDeck2.png') no-repeat -544px -288px;
	width: 67px;
	height: 95px;
}
._Jh {
	background: url('../images/CardDeck2.png') no-repeat -612px -288px;
	width: 67px;
	height: 95px;
}
._Th {
	background: url('../images/CardDeck2.png') no-repeat -680px -288px;
	width: 67px;
	height: 95px;
}
._9h {
	background: url('../images/CardDeck2.png') no-repeat 0 -384px;
	width: 67px;
	height: 95px;
}
._8h {
	background: url('../images/CardDeck2.png') no-repeat -68px -384px;
	width: 67px;
	height: 95px;
}
._7h {
	background: url('../images/CardDeck2.png') no-repeat -136px -384px;
	width: 67px;
	height: 95px;
}
._6h {
	background: url('../images/CardDeck2.png') no-repeat -204px -384px;
	width: 67px;
	height: 95px;
}
._5h {
	background: url('../images/CardDeck2.png') no-repeat -272px -384px;
	width: 67px;
	height: 95px;
}
._4h {
	background: url('../images/CardDeck2.png') no-repeat -340px -384px;
	width: 67px;
	height: 95px;
}
._3h {
	background: url('../images/CardDeck2.png') no-repeat -408px -384px;
	width: 67px;
	height: 95px;
}
._2h {
	background: url('../images/CardDeck2.png') no-repeat -476px -384px;
	width: 67px;
	height: 95px;
}
.cover {
	background: url('../images/CardDeck2.png') no-repeat -544px -384px;
	width: 67px;
	height: 95px;
}
.joker-clr {
	background: url('../images/CardDeck2.png') no-repeat -612px -384px;
	width: 67px;
	height: 95px;
}
.joker-bw {
	background: url('../images/CardDeck2.png') no-repeat -680px -384px;
	width: 67px;
	height: 95px;
}