.table
{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 689px;
    background-image: url('../images/pokertable.png');
    background-repeat: no-repeat;
    top: 100px;
}
.top
{
    position: relative;
    top: -75px;
    background-image: url('../images/playeravatar.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 124px;
    margin-left: auto;
    margin-right: auto;
}
.bottom
{
    position: relative;
    top: 520px;
    background-image: url('../images/playeravatar.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 124px;
    margin-left: auto;
    margin-right: auto;
}
.right
{
    position: relative;
    top: 30px;
    background-image: url('../images/playeravatar.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 124px;
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    margin-right: -100px;
}
.left
{
    position: relative;
    top: 30px;
    background-image: url('../images/playeravatar.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 124px;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    margin-left: -100px;
}

.avatar-contents
{
    width: 130px;
    height: 109px;
    margin: auto;
    text-align: center;
    color: #fff;
    padding: 10px 10px 5px 10px;
}
.empty-avatar
{
    margin-top: 45px;
}

#sortableSource1
{
    width: 469px;
	height: 95px;
    list-style-type: none;
    margin-bottom: -2px;
    padding-left:0;
    margin-left:0;
    border: 2px solid #000;
    -webkit-box-shadow: inset 0 0 5px #000; -moz-box-shadow: inset 0 0 5px #000; box-shadow: inset 0 0 5px #000;
}
#sortableSource1 li
{
    float: left;
}
#sortableSource2
{
    width: 402px;
	height: 95px;
    list-style-type: none;
    margin: auto;
    padding-left:0;
    margin-left:0;
    border: 2px solid #000;
    -webkit-box-shadow: inset 0 0 5px #000; -moz-box-shadow: inset 0 0 5px #000; box-shadow: inset 0 0 5px #000;
}
#sortableSource2 li
{
    float: left;
}
#sortable1
{
    width: 335px;
	height: 95px;   
    list-style-type: none;
    margin-bottom: -20px;
    padding-left:0;
    margin-left:0;
    border: 2px solid #8d1115;
    -webkit-box-shadow: inset 0 0 5px #000; -moz-box-shadow: inset 0 0 5px #000; box-shadow: inset 0 0 5px #000;
}
#sortable1 li
{
    float: left;
}
#sortable2
{
    width: 335px;
	height: 95px;
    list-style-type: none;
    margin-bottom: -2px;
    padding-left:0;
    margin-left:0;
    border: 2px solid #8d1115;
    -webkit-box-shadow: inset 0 0 5px #000; -moz-box-shadow: inset 0 0 5px #000; box-shadow: inset 0 0 5px #000;
}
#sortable2 li
{
    float: left;
}
#sortable3
{
    width: 201px;
	height: 95px;
    list-style-type: none;
    margin: auto;
    padding-left:0;
    margin-left:0;
    border: 2px solid #8d1115;
    -webkit-box-shadow: inset 0 0 5px #000; -moz-box-shadow: inset 0 0 5px #000; box-shadow: inset 0 0 5px #000;
}
#sortable3 li
{
    float: left;
}

.name-container
{
}
.picture
{
    width: 72px;
    height: 71px;
}
.name
{
    font-weight: bold;
    color: #fff;
}
.points
{
    font-weight: bold;
    color: #fff;
    display: inline-block;
}
.position
{
    font-size: 0.6em;
    color: #fff;
}

.take-seat
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -50px;
    width: 150px;
    height: 100px;
    z-index: 20000;
}
.leave-game
{
    position: absolute;
    bottom: -25px;
    width: 150px;
}
.ready-up
{
    position: absolute;
    bottom: -50px;
    width: 150px;
}

.player-ready
{
    border: 3px solid #008000;
    -webkit-box-shadow: inset 0 0 5px #008000; -moz-box-shadow: inset 0 0 5px #008000; box-shadow: inset 0 0 5px #008000;
}


/* SETS */
.topSet
{
    position: relative;
    top: -170px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}
.leftSet
{
    position: relative;
    top: 20px;
    left: 75px;
    width: 180px;
}
.rightSet
{
    position: relative;
    top: 20px;
    left: 740px;
    width: 180px;
}
.bottomSet
{
    position: relative;
    top: 70px;
    left: 15px;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.large-card-set
{
    position: relative;
    width: 375px;
}

.small-card-set
{
    position: relative;
    width: 180px;
}

.card-slot-available
{
    background-color: #FFF558;
    opacity: .35;
}

.small-card-empty
{
    width: 34px;
	height: 48px;
    border: 2px solid #8d1115;
    -webkit-box-shadow: inset 0 0 5px #000; -moz-box-shadow: inset 0 0 5px #000; box-shadow: inset 0 0 5px #000;
}
.sm-card-pos0
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.sm-card-pos1
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 36px;
    top: 0px;
}
.sm-card-pos2
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 72px;
    top: 0px;
}
.sm-card-pos3
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 108px;
    top: 0px;
}
.sm-card-pos4
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 144px;
    top: 0px;
}
.sm-card-pos5
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 0px;
    top: 50px;
}
.sm-card-pos6
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 36px;
    top: 50px;
}
.sm-card-pos7
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 72px;
    top: 50px;
}
.sm-card-pos8
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 108px;
    top: 50px;
}
.sm-card-pos9
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 144px;
    top: 50px;
}
.sm-card-pos10
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 0px;
    top: 100px;
}
.sm-card-pos11
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 36px;
    top: 100px;
}
.sm-card-pos12
{
    width: 34px;
	height: 48px;
    position: absolute;
    left: 72px;
    top: 100px;
}

.my-large-card-empty
{
    border: 2px solid #000000;
    -webkit-box-shadow: inset 0 0 5px #000; -moz-box-shadow: inset 0 0 5px #000; box-shadow: inset 0 0 5px #000;
}
.my-large-card-empty div
{
    width: 67px;
	height: 95px;
}